.title {
  font-size: 14px;
  font-weight: 700;
}
.brand {
  font-size: 13px;
  margin-bottom: 6px;
}
.btn-cart {
  font-size: 14px;
}
.cart-wrapper {
  background: lightgray;
}
.cart-title {
  font-size: 16px;
  font-weight: 700;
}
.cart {
  height: 400px;
  background: #000;
  color: #fff;
  text-align: center;
  line-height: 400px;
}